{% extends 'base.html' %}

{% block body %}
<form method="POST" action="/difficulty/easy">
    <input type="submit" value="Easy">
</form>
<form method="POST" action="/difficulty/medium">
    <input type="submit" value="Medium">
</form>
<form method="POST" action="/difficulty/hard">
    <input type="submit" value="Hard">
</form>
<form method="POST" action="/difficulty/extreme">
    <input type="submit" value="Extreme">
</form>
<form method="POST" action="/difficulty/varying">
    <input type="submit" value="Varying">
</form>
<form method="POST" action="/scoreboard">
    <input type="submit" value="Scoreboard">
</form>

{% endblock %}