{% extends 'base.html' %}

{% block body %}
<p style="font-size: 24px;" id="result">{{session['result']}}</p>
<p style="font-size: 24px;" id="question">{{session['question'] | safe}}</p>
<div>
    <input type="radio" id="option1" name="answer" value="0x">
    <label for="option1" style="font-size: 24px;">0x</label>
</div>
<div>
    <input type="radio" id="option2" name="answer" value="0.5x">
    <label for="option2" style="font-size: 24px;">1/2x</label>
</div>
<div>
    <input type="radio" id="option3" name="answer" value="1x">
    <label for="option3" style="font-size: 24px;">1x</label>
</div>
<div>
    <input type="radio" id="option4" name="answer" value="2x">
    <label for="option4" style="font-size: 24px;">2x</label>
</div>

<!-- Button to check answer -->
<br>
<button onclick="checkAnswer()" id="submit" style="font-size: 24px;">Submit</button>

<!-- Script section containing JavaScript -->
<script>
    async function checkAnswer() {
        // Get the selected option
        var selectedOption = document.querySelector('input[name="answer"]:checked');
        
        // Check if an option is selected
        if (selectedOption) {
            // Get the value of the selected option
            const selectedValue = selectedOption.value;
            await fetch('/answer/' + selectedValue);
            location.reload()
        }
    }
</script>

{% if 'score' in session.keys() %}
    <p style="font-size: 24px;">{{session['score']}}/{{session['total']}}</p>
{% endif %}
<form action="/menu">
    <input type="submit" value="menu" style="font-size: 24px;">
</form>

<script>
    async function startTask() {
        const response = await fetch('/async_question');
        const data = await response.json();
        document.getElementById('question').innerText = data.result['question'];
        document.getElementById('result').innerText = data.result['result'];
    }

    async function getVariables() {
        const response = await fetch('/data');
        const data = await response.json();
        const submit_button = document.getElementById('submit')
        if (data.result) {
            submit_button.disabled = true;
            await startTask()
            submit_button.disabled = false;
        }
    }

    window.onload = getVariables;
</script>

{% endblock %}