{% extends 'base.html' %}

{% block body %}
{% if session['difficulty'] == 'easy' %}
    <form method="POST" action="/matchup">
        <input type="submit" value="Identify the type matchup">
    </form>
{% elif session['difficulty'] == 'medium' %}
    <form method="POST" action="/generation">
        <input type="submit" value="Generation given pokemon">
    </form>
    <form method="POST" action="/pokemon">
        <input type="submit" value="Name given pokemon">
    </form>
{% elif session['difficulty'] == 'hard' %}
    <form method="POST" action="/typing">
        <input type="submit" value="Pokemon given typing">
    </form>
{% elif session['difficulty'] == 'extreme' %}
    <form method="POST" action="/moveset">
        <input type="submit" value="Pokemon given moveset">
    </form>
{% endif %}
<form action="/menu">
    <input type="submit" value="Menu">
</form>

{% endblock %}