{% extends 'base.html' %}
{% block body %}

<h1 style="font-size: 40px">Scoreboard</h1>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Max Streak</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scoreboard %}
            <tr>
                <td>{{score.category}}</td>
                <td>{{score.score}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/menu">
    <input type="submit" value="menu">
</form>

{% endblock %}